
//COLOR PALETTE
    $green: #00A676;
    $white: #F7F9F9;
    $black: #201E1F;


body{
    background-color: $black;
    color: white;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.button{
    background-color: $white;
    border: 0px solid;
    border-radius: 9999px;
}
.button:hover{
    cursor: pointer;
}

//CLOSING BUTTON
#close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
}
#close:before, 
#close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #F0F0F0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: '';
  width: 2px;
  height: 23px;
}
#close:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

    //

#addTask{
    font-size: 14px;
    height: 25px;
    width: 25px;
    color: black;
}

#taskCreation{
    position: absolute;
    background-color: rgb(128, 70, 0);
    align-self: center;
    border: 2px solid black;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.task{
    background-color: antiquewhite;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    border-radius: 9px;
    display:grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 450px 100%;
    grid-template-areas:
    "navigation navigation" 
    "aside content";
}

label{

    span{
        font-weight: lighter;
        font-style: italic;
        font-size: 10px;
    }
}
