$gray: #444;
$white: rgb(216, 209, 209);

body{
    background-color: $gray;
    color: white;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.button{
    background-color: $white;
    border: 0px solid;
    border-radius: 9999px;
}
.button:hover{
    cursor: pointer;
}

#addTask{
    font-size: 14px;
    height: 25px;
    width: 25px;
    color: black;
}

.task{
    background-color: antiquewhite;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    border-radius: 9px;
}